body {
    -webkit-font-smoothing: antialiased;
    background-color: #b7b7c7 !important;
    font: normal 14px Roboto, arial, sans-serif;
}

header {
    background-color: #8e8e8e;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.dashboard {
    background-color: #EDEDED;
    border-color: #d2d2d2;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width:680px;
}

h2, h3 { text-align: center; }

table, td, th {
    border: 1px solid #ababab;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td { 
    padding: 15px; 
    padding-left: 15px !important;}

th {
    background-color: #4CAF50;
    color: white;
}

.wrapper { text-align: center; }

.align-right { text-align: right; }

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.btnActive {
    background-color: #4CAF50;
    color: white;
}

.bool-icon {
    width: 25px;
    height: 25px;
}

.alarm-report {
    position: fixed;
    z-index: 2;
    background-color: #F2F5A9;
    border-color: #F3E2A9;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: 0 1px 0 #F5D0A9;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width:295px;
    height:265px;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.block-panel{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    display: none;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pagination {
    display: inline-block;
}

.pagination a {
    border: 2px solid #ddd;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
