<body onLoad="buildHtmlTable()">
 
<table id="securityDashboardTable" style="border: 1px;">
    <thead></thead>
    <tbody></tbody>
</table>
<script src="/Scripts/SecurityDashboardTable.js"></script>
<script>
    refreshFloorTableResult();
</script>
</body>


@Scripts.Render("~/scripts/jquery-1.10.2.min.js")