@{
    ViewBag.Title = "SecurityDashboard";
}

<h2>SecurityDashboard</h2>

<h3>@ViewBag.currentTime</h3>
<table>
    @foreach (var securityScannerStatuse in ViewBag.securityScannerStatuses)
    {
        <tr>
            <td>@securityScannerStatuse.Key</td>
            @if (securityScannerStatuse.Value)
            {
                <td>Safety</td>
            }
            else
            {
                <td>Intruder!</td>
            } 

           
        </tr>
    }

</table>