USE [master]
GO
/****** Object:  Database [RoomSecurityEntity]    Script Date: 04.10.2018 14:30:52 ******/
CREATE DATABASE [RoomSecurityEntity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoomSecurityEntity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RoomSecurityEntity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoomSecurityEntity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RoomSecurityEntity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoomSecurityEntity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoomSecurityEntity]
GO
USE [RoomSecurityEntity]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04.10.2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlarmStatus]    Script Date: 04.10.2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlarmStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[BadgeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AlarmStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 04.10.2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Badges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cameras]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cameras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cameras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monitors]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[UiId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Monitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresenceRules]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresenceRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[BadgeId] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_dbo.PresenceRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMonitors]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMonitors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MonitorId] [int] NOT NULL,
 CONSTRAINT [PK_RoleMonitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UiId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MonitorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlarmStatus] ON 

INSERT [dbo].[AlarmStatus] ([Id], [RoomId], [Time], [BadgeId]) VALUES (1, 1, CAST(N'2018-08-17T00:30:00.000' AS DateTime), 1)
INSERT [dbo].[AlarmStatus] ([Id], [RoomId], [Time], [BadgeId]) VALUES (2, 1, CAST(N'2018-08-17T05:00:00.000' AS DateTime), 1)
INSERT [dbo].[AlarmStatus] ([Id], [RoomId], [Time], [BadgeId]) VALUES (3, 1, CAST(N'2018-08-17T05:30:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AlarmStatus] OFF
SET IDENTITY_INSERT [dbo].[Badges] ON 

INSERT [dbo].[Badges] ([Id], [Name]) VALUES (1, N'Visitor')
INSERT [dbo].[Badges] ([Id], [Name]) VALUES (2, N'Support')
INSERT [dbo].[Badges] ([Id], [Name]) VALUES (3, N'SecurityOfficer')
SET IDENTITY_INSERT [dbo].[Badges] OFF
SET IDENTITY_INSERT [dbo].[Cameras] ON 

INSERT [dbo].[Cameras] ([Id], [RoomId]) VALUES (91, 1)
INSERT [dbo].[Cameras] ([Id], [RoomId]) VALUES (92, 1)
INSERT [dbo].[Cameras] ([Id], [RoomId]) VALUES (93, 1)
SET IDENTITY_INSERT [dbo].[Cameras] OFF
SET IDENTITY_INSERT [dbo].[Monitors] ON 

INSERT [dbo].[Monitors] ([Id], [Name], [UiId]) VALUES (1, N'First floor', N'5e3267c8-f418-4815-bfbd-a8c86cbfa8dc')
INSERT [dbo].[Monitors] ([Id], [Name], [UiId]) VALUES (2, N'Second floor', N'bd2e73a6-b6bb-45d9-a0a2-2b574db8e7fc')
SET IDENTITY_INSERT [dbo].[Monitors] OFF
SET IDENTITY_INSERT [dbo].[PresenceRules] ON 

INSERT [dbo].[PresenceRules] ([Id], [RoomId], [BadgeId], [StartTime], [EndTime]) VALUES (1, 1, 1, CAST(N'10:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[PresenceRules] ([Id], [RoomId], [BadgeId], [StartTime], [EndTime]) VALUES (2, 1, 2, CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[PresenceRules] ([Id], [RoomId], [BadgeId], [StartTime], [EndTime]) VALUES (3, 1, 3, CAST(N'00:00:00' AS Time), CAST(N'23:59:59' AS Time))
SET IDENTITY_INSERT [dbo].[PresenceRules] OFF
SET IDENTITY_INSERT [dbo].[RoleMonitors] ON 

INSERT [dbo].[RoleMonitors] ([Id], [RoleId], [MonitorId]) VALUES (1, 1, 1)
INSERT [dbo].[RoleMonitors] ([Id], [RoleId], [MonitorId]) VALUES (2, 1, 2)
INSERT [dbo].[RoleMonitors] ([Id], [RoleId], [MonitorId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[RoleMonitors] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Chief               ')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'First floor chief   ')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Second floor chief  ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [UiId], [Name], [MonitorId]) VALUES (1, N'9a82dfe8-4d3e-46e5-b1f6-06d866de1496', N'Conference room', 1)
INSERT [dbo].[Rooms] ([Id], [UiId], [Name], [MonitorId]) VALUES (2, N'e41ee623-db92-4644-a47e-d104f2505113', N'Hall', 1)
INSERT [dbo].[Rooms] ([Id], [UiId], [Name], [MonitorId]) VALUES (3, N'7f38d6d7-f594-4034-ab4e-49b4c2a20278', N'Dinner room', 2)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password]) VALUES (1, N'Ivan', N'Ivanov', N'ivanov@ukr.net', N'000102030405060708090A0B0C0D0E0F10111213')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password]) VALUES (2, N'Petro', N'Petrov', N'petrov@ukr.net', N'000102030405060708090A0B0C0D0E0F10111213')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password]) VALUES (32, N'Sidor', N'Sidorov', N'sidorov@ukr.net', N'000102030405060708090A0B0C0D0E0F10111213')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_BadgeId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_BadgeId] ON [dbo].[AlarmStatus]
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[AlarmStatus]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[Cameras]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BadgeId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_BadgeId] ON [dbo].[PresenceRules]
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[PresenceRules]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonitorId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_MonitorId] ON [dbo].[RoleMonitors]
(
	[MonitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[RoleMonitors]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonitorId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_MonitorId] ON [dbo].[Rooms]
(
	[MonitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 04.10.2018 14:30:53 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_UiId]  DEFAULT (newid()) FOR [UiId]
GO
ALTER TABLE [dbo].[AlarmStatus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlarmStatus_dbo.Badges_BadgeId] FOREIGN KEY([BadgeId])
REFERENCES [dbo].[Badges] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlarmStatus] CHECK CONSTRAINT [FK_dbo.AlarmStatus_dbo.Badges_BadgeId]
GO
ALTER TABLE [dbo].[AlarmStatus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlarmStatus_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlarmStatus] CHECK CONSTRAINT [FK_dbo.AlarmStatus_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[Cameras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cameras_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cameras] CHECK CONSTRAINT [FK_dbo.Cameras_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[PresenceRules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PresenceRules_dbo.Badges_BadgeId] FOREIGN KEY([BadgeId])
REFERENCES [dbo].[Badges] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PresenceRules] CHECK CONSTRAINT [FK_dbo.PresenceRules_dbo.Badges_BadgeId]
GO
ALTER TABLE [dbo].[PresenceRules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PresenceRules_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PresenceRules] CHECK CONSTRAINT [FK_dbo.PresenceRules_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[RoleMonitors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMonitors_dbo.Monitors_MonitorId] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleMonitors] CHECK CONSTRAINT [FK_dbo.RoleMonitors_dbo.Monitors_MonitorId]
GO
ALTER TABLE [dbo].[RoleMonitors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMonitors_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleMonitors] CHECK CONSTRAINT [FK_dbo.RoleMonitors_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.Monitors_MonitorId] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.Monitors_MonitorId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonitorTabsbyEmail]    Script Date: 04.10.2018 14:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMonitorTabsbyEmail]
   @email nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;
Select	Monitors.Name, 
		Monitors.UiId as Id
from Monitors 
join RoleMonitors on Monitors.Id = RoleMonitors.MonitorId
join UserRoles on RoleMonitors.RoleId = UserRoles.RoleId
join Users on UserRoles.UserId = Users.Id
where Users.Email =  @email;
END
GO
USE [master]
GO
